<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.farata.course.mwd.auction.dao.MyProductMapper" >
    <select id="getProductById" resultMap="myProductMap">
        SELECT * FROM PRODUCT
    </select>
    <resultMap id="myProductMap" type="com.farata.course.mwd.auction.model.Product">
        <result property="productId" column="PRODUCT_ID" />
    </resultMap>
</mapper>